LOCAL_DB_NAME=localhire_dev
LOCAL_DB_USERNAME=localhire_admin
LOCAL_DB_PASSWORD=localhire_dev_password
JWT_SECRET=
AWS_S3_BUCKET=localhire-resumes-dev
AWS_REGION=ap-south-2
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_SERVICE_URL=
LOCALSTACK_AUTH_TOKEN=
